
.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .board {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: white;
    border: black solid 5px;
}

.board:hover {
    cursor: crosshair; 
}
.content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 1200px;
    height: 600px;
    
}
.title {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    }



.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 60px;
    }
    button {
    width: 200px;
    height: 80px;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom:20px ;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    }
button:hover {
    cursor: pointer;
    }
.blackButton {
    background-color: black;
    color: white;
}
.blackButton:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
}
.grayButton {
    background-color: rgba(128, 128, 128, 0.411);
    color: black;
}
.grayButton:hover {
    transform: scale(1.2);
    background-color: rgb(95, 95, 95);
    color: white;
}
.randomButton {
    background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}
.randomButton:hover {
    transform: scale(1.2);
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.erasorButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.erasorButton:hover {
    transform: scale(1.2);
    background-color: black;
    color: rgb(255, 255, 255);
}
input {
    width: 95px;
    height: 30px;
    border-radius: 5px;
    border: none;
    
}

.mode {
    margin-bottom: 5px;
}
  .error {
    display: none;
  }


body {
    animation: 10000ms ease-in-out infinite color-change;
    }

    @keyframes color-change {
    0% {
    background-color: #0E185F;
    }
    10% {
    background-color: #2FA4FF;
    }
    20% {
    background-color: #00FFDD;
    }
    30% {
    background-color: #9254C8;
    }
    40% {
    background-color: #E15FED;
    }
    50% {
    background-color: #FF8E00;
    }
    60% {
    background-color: #FFE400;
    }
    70% {
    background-color: #FF1700;
    }
    80% {
    background-color: #F21170;
    }
    90% {
    background-color: #252525;
    }
    100% {
    background-color: #393E46;
    }
}
button.stsize{
    margin-top: 10px;
    width: 100px;
    height: 30px;
}